Source: retchmail
Section: mail
Priority: optional
Maintainer: Simon Law <sfllaw@debian.org>
Uploaders: James Morrison <phython@debian.org>, Patrick Patterson <ppatters@debian.org>
Build-Depends: debhelper (>> 4.0), libwvstreams-dev (>= 4.0.1), libssl-dev
Standards-Version: 3.6.1

Package: retchmail
Architecture: any
Depends: ${shlibs:Depends}
Provides: popclient
Description: REALLY Fast POP3 Retriever
 Supports simultaneous pop3 and pop3s mail retrieval from multiple sites to 
 multiple mailboxes, and has as its primary goal to do it as fast and as
 accurately as possible. 
