Source: retchmail
Section: main/mail
Priority: optional
Maintainer: Patrick Patterson <ppatters@debian.org>
Uploaders: James Morrison <phython@debian.org>
Build-Depends: debhelper (>> 3.0.0), libwvstreams-dev (>= 3.74+20031017), libssl-dev
Standards-Version: 3.5.9.0

Package: retchmail
Architecture: any
Depends: libwvstreams3, ${shlibs:Depends}
Provides: popclient
Description: REALLY Fast POP3 Retriever
 Supports simultaneous pop3 and pop3s mail retrieval from multiple sites to 
 multiple mailboxes, and has as its primary goal to do it as fast and as
 accurately as possible. 
